{% extends 'index.html' %}
{% load static %}

{% block content %}
	<div class="container block_club_info py-5">
		<h1 class="fs-1 fw-bold">Давайте знакомиться!</h1>
		<div class="d-flex align-items-center justify-content-between">
			<div class="text-container">
				<p>
					<br>
					Рады представить вам баскетбольную секцию <b>Black Panthers</b> - место, где любители баскетбола могут
					собираться
					вместе, тренироваться и соревноваться на самом высоком уровне.
					<br>
					<br>
					Как создатель этого раздела, я хотел
					создать
					сообщество, которое поощряет страсть к спорту, мастерство и разнообразие.
				</p>
				<p>
					Мы верим, что баскетбол - это не просто игра, а образ жизни.
					<br>
					<br>
					Наша цель - создать позитивную и благоприятную
					атмосферу для всех игроков, независимо от их возраста, пола или уровня мастерства.
					<br>
					<br>
					Наши тренировочные
					программы
					рассчитаны на игроков всех уровней, от новичков до опытных игроков, а наши опытные тренеры тесно
					сотрудничают с
					каждым игроком, чтобы помочь им достичь своих целей.
				</p>
			</div>
			<img src="/files/tigra.png">
		</div>

		<!--Карточки-->

		<div class="container my-3 py-3">
			<div class="row">
				<div class="col-12 col-md-6 col-lg-3 my-3 d-flex align-items-center">
					<img src="/files/люди.png" alt="Icon 1">
					<div>
						<h5 class="fs-4 fw-bold">900+</h5>
						<p class="club_p">Успешных спортсменов</p>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3 my-3 d-flex align-items-center">
					<img src="/files/команда.png" alt="Icon 2">
					<div>
						<h5 class="fs-4 fw-bold">30</h5>
						<p class="club_p">Команд, собственная лига</p>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3 my-3 d-flex align-items-center">
					<img src="/files/minкарта.png" alt="Icon 3">
					<div>
						<h5 class="fs-4 fw-bold">10</h5>
						<p class="club_p">Баскетбольных центров</p>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3 my-3 d-flex align-items-center">
					<img src="/files/лагерь.png" alt="Icon 4">
					<div>
						<h5 class="fs-4 fw-bold">20</h5>
						<p class="club_p">Смен детского лагеря было проведено</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}